/* ---- CSS Demo ---- */


body{
    background-color:#8f5cb1;
}
  body{
  }
  /*  ---------------Box Sizing-----------------  */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* ---------------- Responsive Inages--------------*/

  img{
    max-width:100%;
  }

/* ---------------- Utility Classes--------------*/


.container{
  max-width: 960px;
  width:88vw;
  margin: 45px auto;
}

.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border:1px solid #c0c0c0;
  padding:8px;
  border-radius:55px;
  background-color:#d58bf5;
}
.img-left{
  float:left;
  margin: 20px 10px 10px 0;
  border:1px solid #c0c0c0;
  padding:5px;
  border-radius:50px;
  background-color:#6C0399;
}
.img-center{
display:block;
margin:20px auto;
border:1px solid #c0c0c023;
padding:5px;
border-radius:50px;
background-color:#6C0399;
}

/* ---------------- Global: Styles--------------*/
body{
    font-family: "Playfair Display", serif; 
    margin:0;
    line-height:1.5;
    

}


header.primary{
  background-color:#611582ac;
color:#fffffff6;
text-align:center;
text-shadow:2px 2px #000;
padding:40px;
padding:20px 40px 20px 40px;
padding:20px 40px;
}
h1.primary h1{
  font-size:2.4rem;
  margin:20px 0 0;

}

header.primary h1
 a{
  color:#fff;
  text-decoration:none;
  

 }

 header .primary h2{
  margin:0;
  font-size:1.4rem;
 }

 header.primary nav{
max-width:900px;
margin: 20px auto;
 }


 header.primary ul{
  padding:10px 0;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
 }



 header.primary ul li{
  list-style-type:none; disc;
 }

 header.primary nav a{
  color:#ffffff;
  text-decoration: none;
  background-color:black;
  background-color:rgba(0,0,0,4);
  padding:5px 10px;
  border-radius: 20px 50px;
  transition:5.4s;
 }

 header.primary nav a:hover{
  background-color:rgba(101, 96, 96, 0.456);
 }
 
 #content h2{

color:#980bd5;
 border:1px dotted #c0c0c0;
 }

 #content h3{
  border-left:7.5px solid #540277;
  padding:7.5px
 }


#content{
  line-height:1.5;
}



 @media screen and (max-width:600px) {
    header.primary ul {
    flex-direction: column;
    gap:25px;
    max-width:255px;
    margin:auto;}
    
    header.primary nav a{
    display:block;
  }
}

}
#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:3rem;
  border-bottom:2px dotted black;
  padding-bottom:3rem 0;
  border-top:2px dotted black;
  flex-wrap:wrap;
}
  #blog h2 {
    flex:0 0 100%;
    margin:0;
    text-align:center;
  }
  
#blog .post{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
  padding: 14px;
  border-radius:8px;
  font-size:.8rem;
  transition:.8s;
  display:inline-block;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
  font-size:.8rem;
  text-align:center;
  color:#c0c0c002;
}

#blog header{
  padding-top:12px;
  font-size:.8rem;
}

#blog header h2{
  margin:0;
 
}
#blog a{
  color:#6C0399 ;
}
#blog .post:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.486);
}

#practice h2{
  color:#540277;
 border-bottom:1.5px solid #000000;
}

table{
  border: 1.5px solid #c0c0c0;
  width: 100%;
  margin: 22px 0;
  border-collapse:collapse;
}

caption{
  font-weight:bold;
  margin:12px;
}

th{
  background-color:#b905e6a9 ;
  color:#fff;
  padding:8px;
}

tr:nth-child(even){
  background-color: #a847d1;
}


tr:hover{
  background-color:#361A56;
}
td:nth-child(2), td:nth-child(3){
  
}
td:nth-child(n+2){
  text-align:right;
}
  
td{
border:1.5px solid #c0c0c0;
padding:8px;
}

#practice ol{
  list-style-type:lower-decimal;
  list-style-position:outside;
}

#practice ul ul{
  list-style-type:square;
}

#practice dl dt{
 font-weight:bold; 
 }
dl dd{
  margin:0;
  }

dd + dt{
margin-top:1rem;
}

#practice blockquote{
  border:4px double #c0c0c0;
  padding:20px 40px;
  margin:40px 80px;
  border-radius: 30px 0;
  background-color: #540277;
  color:#fff;
  line-height:1.4;
  text-shadow:1px 1px #000;

}

#practice blockquote cite{
  display:block;
  text-align:right;
  font-size:.7rem;
  margin-top:1rem;
}

aside[role="complementary"]{

background-color:#a305e693 ;
color:#fff;
padding:1.8rem;

}
  aside .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:64px;
  }

  aside .container a:last-of-type{
    display:block;
    color:#fff;
    text-align:right;
    margin-top:1.5rem;
  }

  aside .widget footer{
    display:none;
  }

  #colophon{
    background-color:#bb8bdbcf;
    text-align:center;
    padding:12px;
    color:#fff;
    font-size:1.4;
  }




